.login-container {
  height: 100vh;
  width: 100%;
  background-color: #e7f5f7;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 20px;
  background: #1098ad;
  color: white;
  height: 60px;
  width: 200px;
  border-radius: 100rem;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}

.btn:active {
  transform: scale(0.95);
}

.btn:hover .log {
  cursor: pointer;
  transform: translateX(100%) rotate(180deg) scale(1.3);
}

.svg-wrapper {
  display: flex;
  align-items: center;
}

.log {
  transition: 0.3s;
  height: 40px;
  transform: rotate(180deg);
}

.btn:hover span {
  color: #1098ad;
  user-select: none;
  pointer-events: none;
}

.btn:hover .svg-wrapper {
  animation: fly-1 0.5s ease-in-out infinite alternate;
}

@keyframes fly-1 {
  from {
    transform: translateY(2px);
  }

  to {
    transform: translateY(-2px);
  }
}
