<div class="login-container" *ngIf="!isLoggedIn">
  <h1 class="login-title">WELCOME BACK</h1>
  <h2 class="login-instruction">You're are not logged in</h2>
  <div class="btn btn-login" (click)="login()">
    <div class="svg-wrapper">
      <img
        src="../../assets/icons/login-icon.svg"
        alt="login-icon"
        class="log log--in"
      />
    </div>
    <span>Log in now</span>
  </div>
</div>

<div *ngIf="isLoggedIn">
  <h1>Hi you're logged in</h1>
  <button (click)="logout()">Logout</button> 
</div>
